body {background-image: url("https://i.pinimg.com/564x/97/42/6e/97426e87ed06da4ac76e704c74a5062b.jpg"); } h1 { font-helvetica: 15px; color:red;
text-align:center;
<!--
Visual Code Mobile
Developed By Manish Nirmal
App Available on Play Store :-
https://play.google.com/store/apps/details?id=lk.visual.code.mobile
YouTube :-
https://youtube.com/ManishNirmal
-->